/* App level styles */

::ng-deep {
    // ------------ Style button ------------
    .tmss-btn {
        border-radius: 6px;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
        font-weight: 450;
        cursor: pointer;
        min-width: 3rem;
        -webkit-box-align: center;
        padding: 3px 8px !important;
        white-space: nowrap;
        border-width: 0.0625em;
        vertical-align: middle;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        margin-bottom: 0.25rem;
        background-color: transparent;
    }
    .tmss-footer-btn:last-child {
        margin-right: 0;
    }
    .tmss-btn[disabled] {
        pointer-events: none;
        border-color: #6c757d;
        color: #6c757d;
        cursor: not-allowed;
    }
    .tmss-btn:hover {
        font-weight: 400;
    }
    .tmss-footer-btn {
        padding: 4px 8px;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        margin-bottom: 0.25rem;
        min-width: 5rem;
    }
    // ------------ End Style button ------------
    // ------------ Fieldset Style ------------
    .fieldset-border {
        border: none;
        padding: 0.25rem 0.5rem 0.5rem 0.5rem;
        margin-bottom: 0.5rem;
        background-color: #fff !important;
        position: relative;
        height: 100%;
        width: 100%;
        // box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        // -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        //   -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    }
    .fieldset-header {
        justify-content: space-between;
        align-items: stretch;
        -webkit-box-align: stretch;
        -webkit-box-pack: justify;
        position: relative;
        padding: 0;
        border-bottom: 0.0625em solid #ebedf2;
        margin-bottom: 0.5rem;
        margin-top: 0rem;
        display: flex;
        flex-direction: row;
    }
    .bg-transparent {
        background-color: transparent !important;
    }
    .legend-border {
        font-size: 0.9em;
        font-weight: 600;
        text-align: left;
        width: auto;
        padding: 0 5px;
        border-bottom: none;
    }
    .fieldset-row {
        width: 100%;
        display: flex;
        padding-left: 1rem;
    }
    // ------------ End Fieldset button ------------
    // -------- Ag grid Cell Class ---------
    .cell-border {
        border-right: 1px solid #d9dcde !important;
        &:focus {
            border-right: 1px solid #0091EA !important;
        }
    }
    .ag-theme-alpine .ag-ltr .ag-cell {
        border-right: 1px solid transparent;
    }
    .ag-cell-focus {
        border: 1px solid #0091EA !important;
    }
    .text-left {
        text-align: left !important;
        padding-left: 8px !important;
    }
    // .ag-cell:last-child {
    //   border-right: 1px solid #BDC3C7 !important;
    // }
    .cell-clickable {
        background-color: #FFFFCC !important;
        cursor: pointer;
        &:hover {
            background-color: darken(#FFFFCC, 10%) !important;
        }
    }
    .cell-unClickDropdown {
        background-color: #EFEFEF !important;
        cursor: not-allowed;
    }
    .cell-clickDropdown {
        background-color: rgb(255, 255, 204) !important;
        cursor: pointer;
    }
    .p-0 {
        padding: 0 !important;
    }
    // .cell-readonly {
    //   background-color: #EFEFEF !important;
    //   cursor: default !important;
    // }
    // .modal-body {
    //   ::ng-deep ag-grid-angular {
    //   min-width: inherit !important;
    //   }
    // }
    // ---------End Ag grid Style----------
    // ------------ Style Modal --------------
    .tmss-modal {
        background-color: white;
        border-radius: 5px !important;
        border: 1px solid rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding-box;
        background-clip: padding-box;
    }
    .tmss-modal .tmss-modal-header {
        margin: 0.5rem 1rem 0.5rem 1rem;
    }
    .tmss-modal .tmss-modal-body {
        margin: 0 2rem 1rem 2rem;
    }
    .tmss-modal .tmss-modal-footer {
        margin: 0 2rem 0rem 2rem;
    }
    .tmss-modal .tmss-modal-header .tmss-close {
        position: absolute;
        right: 10px;
        top: 10px;
        color: #999;
        line-height: 10px;
        cursor: pointer;
    }
    .tmss-modal-lg {
        min-width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .tmss-modal-md {
        min-width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
    .tmss-modal-md-plus {
        margin-right: 10%;
        min-width: 80%;
        margin-left: 10%;
    }
    .tmss-modal-sm {
        min-width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    }
    // ------------ End Style Modal --------------
    .money-style {
        font-size: 0.9rem;
        font-weight: 400;
        color: #48465b;
    }
    // ------------ Style Scrollbar --------------
    .over-size {
        overflow-y: scroll;
        padding-right: 0.5rem;
        overflow-x: hidden;
    }
    .over-horizontal-size {
        overflow-x: scroll;
        padding-right: 0.5rem;
        overflow-y: hidden;
    }
     ::-webkit-scrollbar {
        width: 6px;
        margin-top: 1rem;
        -webkit-appearance: true;
        height: 6px;
    }
    /* Track */
     ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    /* Handle */
     ::-webkit-scrollbar-thumb {
        background: #999;
        //border-radius: 6px;
    }
    /* Handle on hover */
     ::-webkit-scrollbar-thumb:hover {
        background: #777;
    }
    // ----------- End Style Scrollbar -----------
    // -------------- Style Grid Column Bootstrap --------------
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .ui-g-12,
    .ui-g-6,
    .ui-g-3,
    .ui-g-1,
    .ui-g-2,
    .ui-g-7,
    .ui-g-4,
    .ui-g-5,
    .ui-g-8 {
        padding-top: 0.05rem;
        padding-bottom: 0.05rem;
    }
    .tmss-ui-row>div {
        padding-right: 0;
    }
    .tmss-ui-row>div:first-child {
        padding-left: 0;
    }
    .fieldset-border.ui-g-12 {
        padding-bottom: 0.75rem;
    }
    // padding horizontal = 0
    .ph-0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .mr-0 {
        margin-right: 0 !important;
    }
    .ml-0 {
        margin-left: 0 !important;
    }
    // padding vertical = 0
    .pv-0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .mv-0 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .mh-0 {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .pl-0 {
        padding-left: 0 !important;
    }
    .pr-0 {
        padding-right: 0 !important;
    }
    // ------------ End Style Grid Column Bootstrap ------------
    // -------------- Style Flex Display --------------
    .flex-left-bar {
        width: 32%;
        height: 100%;
    }
    .flex-right-bar {
        width: 66%;
        height: 100%;
        padding-left: 0.5rem;
    }
    .flex-row {
        display: flex;
        flex-direction: row;
        display: -webkit-flex;
        /* Safari */
    }
    .flex-left {
        flex: 1;
    }
    .flex-right {
        padding-left: 3px;
        -webkit-flex: 1;
        /* Safari */
        -ms-flex: 1;
        /* IE 10 */
        flex: 1;
        /* Standard syntax */
    }
    .flex-column {
        display: flex;
        flex-direction: column;
    }
    i.tmss-fa {
        font-size: 11px !important;
        padding-right: 0 !important;
    }
    // -------------- End Style Flex Display --------------
    // -------------- Style Display --------------
    .inline {
        display: inline-block;
    }
    .fix-width {
        width: 70px;
        margin-right: 20px;
    }
    // -------------- End Style Display --------------
    // -------------- Common Control Style --------------
    .input-group-text.left-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0.65rem 0.5rem 0.65rem 0.6rem;
        margin-bottom: 0;
        font-size: inherit;
        color: #000;
        line-height: 1.5;
        height: calc(1.5em + 1.3rem - 10px);
        text-align: center;
        white-space: nowrap;
        background-color: #ccccccad !important;
        border: 1px solid #ccc;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-right-width: 0px;
        border-radius: 0%;
    }
    .tmss-form-control:focus {
        outline: none !important;
    }
    .tmss-form-control {
        outline: none;
        display: flex;
        padding: 0.15rem 0.3rem;
        font-size: inherit;
        font-weight: 400;
        color: #000;
        line-height: 1.5;
        height: calc(1.5em + 1.3rem - 10px);
        background-color: #ffffff;
        background-clip: padding-box;
        -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        border: 1px solid #ced4da;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .input-group-text.right-text {
        border-left-width: 0;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        background-color: #ffffff;
        border-color: #ced4da;
        justify-content: center;
        max-width: calc(1.5em + 1.3rem);
        align-items: center;
    }
    .required {
        background-color: rgb(255, 255, 204) !important;
    }
    .input-danger {
        .tmss-form-control {
            background-color: red !important;
        }
    }
    .hide-input-control {
        .input-group-text.left-text {
            border-top-left-radius: 0px !important;
            border-bottom-left-radius: 0px !important;
        }
    }
    .remove-border-left-radius {
        .input-group-text.left-text {
            border-top-left-radius: 0px !important;
            border-bottom-left-radius: 0px !important;
        }
    }
    .remove-border-right-radius {
        .tmss-form-control {
            border-bottom-right-radius: 0px !important;
            border-top-right-radius: 0px !important;
        }
    }
    .hide-left-text {
        .tmss-form-control {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            padding: 0.15rem 0.4rem !important;
        }
    }
    .tmss-money-text span {
        font-weight: 600;
    }
    .tmss-money-text {
        .tmss-form-control {
            font-weight: 600;
        }
    }
    // -------------- End Common Control Style --------------
    .tab-align-right ul.nav-tabs {
        justify-content: flex-end;
    }
    ul.nav-tabs {
        margin-bottom: 0px;
    }
    // ul.nav-tabs > li > a > span {
    //   font-weight: bold;
    //   color: #646c9a;
    // }
    // -------------- Tab In Fieldset Style --------------
    .tmss-fieldset-tab .nav-tabs .nav-item .nav-link {
        color: #212529;
        background-color: #fff;
        z-index: 1;
        height: 2.25rem;
        padding-top: 0.35rem;
        position: relative;
        top: -0.05rem;
    }
    .tab-container.tabbable-line.tmss-fieldset-tab {
        width: 100%;
    }
    .tmss-fieldset-tab .nav-tabs .nav-item.active {
        border: none;
    }
    .tmss-fieldset-tab .nav-tabs .nav-item .nav-link.active {
        background-color: #c0c0dd;
    }
    h6.card-header {
        padding: 0.4rem 1.25rem !important;
        font-size: 1rem;
        background-color: #fff;
        color: #48465b;
        font-weight: 500;
    }
    .card-header:affter {
        width: 50px;
        height: 50px;
        content: "";
        display: block;
        position: absolute;
        right: -20px;
        background: #4fcaffc7;
        top: 0;
        transform: skew(-30deg);
    }
    .bg-card-header {
        background-color: #dee9fc !important;
    }
    .ui-multiselect .ui-multiselect-label {
        display: flex;
        max-width: 30rem;
        min-width: 10rem;
        cursor: pointer;
        padding: 0 10rem .15em .25em !important;
    }
    // -------------- Primeng Table Style --------------
    body .ui-table {
        font-family: 'Roboto';
        font-size: 0.88rem;
        --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }
    body .ui-table .ui-table-thead>tr>th {
        height: 0.75rem;
        padding: 0.25em 1em;
        text-align: center;
        border-left-width: 0;
        border-right-width: 0;
        background: #fff;
        font-weight: 500;
        border-top-width: 0;
    }
    body .ui-table .ui-table-tbody>tr>td {
        background-color: #fff;
        border-left-width: 0;
        border-right-width: 0;
        text-align: right;
    }
    body .ui-table .ui-table-tbody>tr>td:first-child {
        font-weight: 500;
        text-align: center;
    }
    body .ui-table .ui-table-tbody>tr:last-child>td {
        border-bottom-width: 0;
    }
    body .ui-table .ui-table-tbody>tr>td.editableColumn {
        background-color: rgb(255, 255, 204);
    }
    .multi-select-control div {
        max-width: 200px !important;
    }
    .container-ui {
        margin-top: 50px;
        padding-right: 10px;
        padding-left: 10px;
        margin-right: auto;
        margin-left: auto;
    }
}
