<div id="container">
  <div class="header">
    <h6 class="card-header">
      {{ "Tạo đơn hàng đặt giày " }}
    </h6>
    <div class="row mt-1 ">
      <div class="col-3">
        <tmss-text-input [disabled]="true" [text]="'Người đặt hàng'" [(ngModel)]="fullName"></tmss-text-input>
      </div>
      <div class="col-3">
        <tmss-text-input [disabled]="true" [text]="'Ngày đặt hàng'" [(ngModel)]="orderDateFormat"></tmss-text-input>
      </div>
      <div class="col-6 text-right">
        <button class="tmss-btn btn-outline-primary mr-2 mt-1 col-2" (click)="add()">
          <i class="fa tmss-fa fa-plus"></i>
          <span class="ml-1">Thêm</span>
        </button>
        <button [disabled]="selectedData == undefined" class="tmss-btn btn-outline-danger mr-2 mt-1 col-2" (click)="deleteShoe()">
          <i class="fa tmss-fa fa-trash-o"></i>
          <span class="ml-1">Xoá</span>
        </button>
        <button class="tmss-btn btn-outline-primary mr-2 mt-1" (click)="refresh()">
          <i class="fa tmss-fa fa-refresh"></i>
          <span class="ml-1">Tạo mới đơn hàng</span>
        </button>
        <button class="tmss-btn btn-outline-primary mr-2 mt-1" (click)="confirm()">
          <i class="fa tmss-fa fa-shopping-cart"></i>
          <span class="ml-1">Xác nhận đơn hàng</span>
        </button>
        <button [disabled]="!confirmOrder" class="tmss-btn btn-outline-primary mr-2 mt-1" (click)="save()">
          <i class="fa tmss-fa fa-save"></i>
          <span class="ml-1">Lưu đơn hàng</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="main mt-2">
  <h6 class="card-header">
    {{ "Danh sách đặt giày" }}
  </h6>

  <div class="row mt-1">
    <div class="col-12">
      <grid-table [columnDefs]="columnsDef" [defaultColDef]="defaultColDef" [rowData]="rowData"
        (callBackEvent)="callBackEvent($event)" [showPagination]="false" [height]="'400px'"
        (onChangeSelection)="onChangeSelection($event)" (onSearch)="searchShoe($event)" (cellEditingStopped)="cellEditingStoppedShoe($event)"
        >
      </grid-table>
    </div>
  </div>

</div>

<div class="mt-1 text-right footer" style="background-color: aliceblue ;">
  <div class="row">
    <div class="col-8">
      <h6>{{ "Tổng tiền trước thuế" }}:</h6>
    </div>
    <div class="col-3">
      {{ preTaxPrice| number }} VND
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-8 ">
      <h6>{{ "Tổng tiền thuế" }}:</h6>
    </div>
    <div class="col-3">
      {{ taxPrice | number}} VND
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-8">
      <h6>{{ "Tổng tiền sau thuế" }}:</h6>
    </div>
    <div class="col-3">
      {{ totalPrice | number}} VND
    </div>
  </div>

</div>

<app-shoe-info-modal #shoeInfoModal (modalSave)="patchShoeCode($event)"></app-shoe-info-modal>